<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BimCommands.Tekla.ClashCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BimCommands.Tekla.ClashCheck.Properties.Settings>
            <setting name="OnlySelectedRebars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Clearance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableSkipNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipNames" serializeAs="String">
                <value>Bolt assembly
SAFETY_BAR
LUG
LADDER
SAFETY_HOOK
VBRACE
WELD_COUPLER
CHECK_COUPLER</value>
            </setting>
            <setting name="EnableOnlyNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyNames" serializeAs="String">
                <value />
            </setting>
            <setting name="IfcSelectedPartsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedIfcFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>780</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </BimCommands.Tekla.ClashCheck.Properties.Settings>
    </userSettings>
</configuration>
